<td><span [classList]="request.requestType + ' chip'">{{ requestTypeLabel }}</span></td>
<td><span [classList]="request.status + ' chip'">{{requestStatusLabel + (request.isArchived ? ' (Archived)' : '')}}</span></td>
<td>{{request.assignedAssetName && request.assignedAssetTag ? `${request.assignedAssetName} \\ ${request.assignedAssetTag}` : "-"}}</td>
<td>{{assetCategoryLabel}}</td>
<td>{{request.requestorFirstName + " " + request.requestorLastName}}</td>
<td>{{request.createdAt | date:'M/d/yy, h:mm a'}}</td>
